

<div class='login-bar' style="padding-bottom: 10%">
<h2 class="page-header">Edit Mindmap </h2>
<form method="post" action="/accounts/edit/{{profiles.id}}" >
  <div class="form-group">


    <input type="text" class="form-control" name="title" placeholder="{{profiles.title}}">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="description" class="form-control" name="description" placeholder="{{profiles.description}}">
</textarea>
  </div>


  <div class="form-group">
    <label class="mr-sm-5" for="inlineFormCustomSelect">Mode</label>
    <p>
    <select class="custom-select mb-5 mr-sm-5 mb-sm-0" style="padding: 2% 3% " id="inlineFormCustomSelect" name="mode">
      <option value="true" >Public</option>
      <option value="false" >Private</option>
    </select>

  </div>


  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
