<!DOCTYPE html>
<html>
<head>
  <title>MindConnect</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, address, phone, icons" />
  <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css">
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">


  <title>MindConnect</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/cytoscape-context-menus.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/demo.css">
  <link rel="stylesheet" type="text/css" href="css/component1.css">

  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">

  <script src="/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/codebase/dhtmlxscheduler.css" type="text/css" media
  ="screen" title="no title" charset="utf-8">

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script type="text/javascript" src="/js/bootbox.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/jquery.cycle2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
  <script type="text/javascript" src="js/cytoscape.min.js"></script>
  <script type="text/javascript" src="js/cytoscape-context-menus.js"></script>
  <script type="text/javascript" src="js/cytoscape-edgehandles.js"></script>
  <script type="text/javascript" src="js/cytoscape-qtip.js"></script>
  <script type="text/javascript" src="js/data.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.12/cytoscape-cose-bilkent.js"></script>
  <script src="js/cytoscape-expand-collapse.js"></script>
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/polyfills.js"></script>
  <script type="text/javascript" src="js/demo1.js"></script>


</head>
<body>

<!--<div id="sidebar" style="width:10px; height: 400px; float: left; position: fixed; background-color: grey"></div>
<div class="sidebar-users" style="width: 50px; height: 400px; float: left; position: fixed; background-color: blue"></div>-->

{{{body}}}

<div class="component">

<button class="cn-button" id="cn-button">+</button>
<div class="cn-wrapper" id="cn-wrapper">
   <ul>
       <li><a href="#"><span class="fa fa-plus"></span></a></li>
       <li><a href="#"><span class="fa fa-circle"></span></a></li>
       <li><a href="#"><span class="icon-home"></span></a></li>
       <li><a href="#"><span class="fa fa-file-image-o"></span></a></li>
       <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
   </ul>
</div>
<div id="cn-overlay" class="cn-overlay"></div>
</div>


</body>
</html>