<div class="cycle-slideshow" data-cycle-pause-on-hover='true'>
            <span class="cycle-prev">&#9001</span>
            <span class="cycle-next">&#9002</span>
            <span class="cycle-pager"></span>
            <img src="images/open-book-library-education-read-159621.jpeg" alt='open-book-in-a-library'>
            <img src="images/mindmap.jpg" alt='paint-supplies'>
            <img src="images/pexels-photo-38091.jpeg" alt='books-in-a-shelf-behind-cycle'>
            <img src="images/pexels-photo.jpg" alt='hanging-books'>
            <img src="images/time-train-station-clock-deadline.jpg" alt='train-station-clock'>


</div>

<div class="fea">
<h2 class="text-center"><em>Features</em></h2>

<div class="features-right">
	<img src="images/collaborate.jpg" id="mindmap" style="margin:2% 10% 2% 2%; width:38%; float: right"/>

</div>
<div class="features-left">
<img src="images/calendar.jpeg" id="calendar" class="img-rounded" style="margin:2% 2% 2% 10%; width:38%"/>
</div>

<p class="description-calendar"> Use the scheduler to effectively maximise productivity during study sessions and help each other stay focused! </p>
<p class="description-mindmap">
 In the default mind map interface, users can invite their friends to collaborate and compile their notes together as a group, adding questions and answers as they discuss, instead of leaving them haphazardly in a chat group. Questions stored in mind maps can be edited in real time, simultaneously by users in the same group or at different points in time.
 </p>
</div>