<div class="cycle-slideshow" data-cycle-pause-on-hover='true'>
            <span class="cycle-prev">&#9001</span>
            <span class="cycle-next">&#9002</span>
            <span class="cycle-pager"></span>
            <img src="images/open-book-library-education-read-159621.jpeg" alt='open-book-in-a-library'>
            <img src="images/school-supplies-paint-watercolor-color-palette-159560.jpg" alt='paint-supplies'>
            <img src="images/pexels-photo-38091.jpeg" alt='books-in-a-shelf-behind-cycle'>
            <img src="images/pexels-photo.jpg" alt='hanging-books'>
            <img src="images/time-train-station-clock-deadline.jpg" alt='train-station-clock'>

</div>