.container {
  position: absolute;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 10%;
}

canvas {
  display: block;
  vertical-align: top;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: white;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

h4{
font-size: 7rem;
position: absolute;
top: 35%;
left: 35%;
color: #D09683;
font-family: teko;
font-weight: 400;
text-shadow: 5px 5px #5F6D72;
text-transform: uppercase;
}

.about-card {
position: absolute;
top: 55%;
left: 36%;
width: 25%;
color: black;
font-family: teko;
font-weight: 500;
}